# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

variables:
  skipComponentGovernanceDetection: "true"

pool: dr-azkaban

steps:

- task: DownloadSecureFile@1
  name: UsersXml
  displayName: 'Download azkaban-users.xml'
  inputs:
    secureFile: 'azkaban-users-xml'

- script: |
    echo updating azkaban-users.xml from  $(UsersXml.secureFilePath) ...
    cp $(UsersXml.secureFilePath) azkaban-web-server/src/main/resources/conf/azkaban-users.xml

- task: DownloadSecureFile@1
  name: AzkabanProperties
  displayName: 'Download azkaban.properties'
  inputs:
    secureFile: 'azkaban-properties'

- script: |
    echo updating azkaban.properties from  $(AzkabanProperties.secureFilePath) ...
    cp $(AzkabanProperties.secureFilePath) azkaban-web-server/src/main/resources/conf/azkaban.properties
    cp $(AzkabanProperties.secureFilePath) azkaban-exec-server/src/main/resources/conf/azkaban.properties
    
- task: Gradle@2
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: --no-daemon clean installDist'
