# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

variables:
  skipComponentGovernanceDetection: "true"

pool: dr-azkaban

steps:
- task: Gradle@2
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: '--no-parallel --no-daemon clean distTar'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: mv $DIR/azkaban-web-server-* $DIR/azkaban-web-server.tar.gz
  env:
    DIR: $(Build.SourcesDirectory)/azkaban-exec-server/build/distributions

- publish: $(Build.SourcesDirectory)/azkaban-exec-server/build/distributions
  artifact: azkaban-web-server
  