# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

variables:
  skipComponentGovernanceDetection: "true"
  imageRepository: "azkaban.azurecr.io"
  dockerRegistryServiceConnection: "azkaban-acr-sp"


pool: dr-azkaban

steps:

- task: Gradle@2
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: '--no-daemon clean installDist'

- task: Docker@2
  displayName: Build azkaban-web-server and push an image to container registry
  inputs:
    command: buildAndPush
    repository: $(imageRepository)
    dockerfile: ./azkaban-web-server/Dockerfile
    buildContext: ./azkaban-web-server/build/install/azkaban-web-server
    containerRegistry: $(dockerRegistryServiceConnection)

- task: Docker@2
  displayName: Build azkaban-exec-server and push an image to container registry
  inputs:
    command: buildAndPush
    repository: $(imageRepository)
    dockerfile: ./azkaban-exec-server/Dockerfile
    buildContext: ./azkaban-exec-server/build/install/azkaban-exec-server
    containerRegistry: $(dockerRegistryServiceConnection)    